swagger: '2.0'
info:
  version: '1.0'
  title: Stellar Home Mobile
  contact: {}
host: stellarhome.totalit.co.id
basePath: /api/v1/mobile
securityDefinitions: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /mobile_banner:
    get:
      summary: Mobile Banner
      tags:
        - Banner
      operationId: MobileBanner
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 1
                    slug: properti
                    title: Properti
                    banner_image: Properti-64d1adab120c9.webp
                    created_at: '2023-08-07T19:50:20.000000Z'
                    updated_at: '2023-08-07T19:51:23.000000Z'
                    url_banner_image: https://stellarhome.totalit.co.id/media/mobile_banner/banner_image/Properti-64d1adab120c9.webp
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/mobile_banner
                per_page: 15
                prev_page_url: null
                to: 1
                total: 1
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:08:26 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=LC5OfNBat4FPfh%2Bbi%2FcUbHCYtcA%2Bc5ExGxjLGDRChXRryx0YdwV1sMxrULwblGoZ7%2BNg5Regxyn6u5mMX%2Bn6TPmAwGjUnukv0JRCl%2FFJuRsX686PSha8V76rcxMHqBH2Q4i7mO%2BXHxDTP7XI"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f4e68ec8fc729-SEA
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /bidding/tambah:
    post:
      summary: Tambah Biding Callback
      tags:
        - Bidding
      operationId: TambahBidingCallback
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_prospek
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in prospek
        - name: is_approve
          in: formData
          required: true
          type: integer
          format: int32
          description: required|boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Theselectedidprospekisinvalid'
          examples:
            application/json:
              success: false
              error:
                id_prospek:
                  - The selected id prospek is invalid.
              message: The selected id prospek is invalid.
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:11:04 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=S%2Faw8q7ZTusqaS2UsGtfL6NB0eRn%2BSY6jvBsaM0izxVXw6oYaPUqeW34p7P6aT94ytpkWeoK2%2BJmvZMQmj7HNnhSJOzdOyZyTg09QpmErtvUfOS9pFMCxN11ncwvjYAVIpGw3Gz5DUK76rRg"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f5243ffa4c729-SEA
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /klien/tambah:
    post:
      summary: Tambah Klien Baru
      tags:
        - Klien
      operationId: TambahKlienBaru
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nama_klien
          in: formData
          required: true
          type: string
          description: required|max:255
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required|+62xxxxxxxx
        - name: email
          in: formData
          required: true
          type: string
          description: required|email
        - name: catatan
          in: formData
          required: true
          type: string
          description: nullable
        - name: nama_bank
          in: formData
          required: true
          type: string
          description: nullable
        - name: nomor_rekening
          in: formData
          required: true
          type: integer
          format: int64
          description: nullable|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Klienberhasildisimpan'
          examples:
            application/json:
              success: true
              error: null
              message: Klien berhasil disimpan.
              data:
                nama_klien: Client Adi
                email: adi200@gmail.com
                catatan: null
                nama_bank: BCA
                nomor_rekening: '3221102928'
                sales_id: 8
                sales_type: Sales Agent
                telepone: '+62878855115252'
                kode_otp: 7693
                slug: client-adi
                updated_at: '2024-01-19T13:14:29.000000Z'
                created_at: '2024-01-19T13:14:29.000000Z'
                id: 45
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:14:33 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=GTuMjEeiPN16MkrvZ1zZi9u5fZy0mzVYPpNz%2BxvA7SP1%2FKhXp%2FlkO2L1yohUtuVoBP%2FkUg5HDca0kNmUZ%2BEG1i8VmGwV8Trc1J9QpDmLeBfV%2FdrpCmrgh%2Bu4OCleiXB7s%2Bfo%2Biz9Nsz5ohPx"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f574ab8cac729-SEA
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /klien/verifikasi:
    post:
      summary: Verifikasi Klien OTP
      tags:
        - Klien
      operationId: VerifikasiKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
        - name: kode_otp
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VerifikasKodeverifikasiberhasilditerimaiKlienOTP'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil diterima.
          headers:
            Date:
              type: string
              default: Mon, 22 Jan 2024 08:58:55 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=Mk%2BmlInbDo1%2FUbtcTjgMk8A%2Bxz9rYfr%2Bsos2i%2F4L1pOhIEOghYsrRjBWJpxVoP3zHCqvCMwF0Bzv48kq8DwPIkWL7JVYAuRkfpcsLDpWfljsrwpJp40uoaSs9H3rINjhXHVX7Gdc9NrBetlq"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8496990f2c66105b-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /klien/resend:
    post:
      summary: Resend Klien OTP
      tags:
        - Klien
      operationId: ResendKlienOTP
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: nomor_hp
          in: formData
          required: true
          type: string
          description: required
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kodeverifikasiberhasildikirim'
          examples:
            application/json:
              success: true
              error: null
              message: Kode verifikasi berhasil dikirim.
              data: 2596
          headers:
            Date:
              type: string
              default: Mon, 22 Jan 2024 08:59:28 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=v6f1c%2ByMMkmxYxDfRwQg0xBkID%2B0GFlKZvACAKtIFrl10qJvpGv%2FNYiTJd4kcsj5v7kK%2FsDySPoa1pIA26cpmreIFYdlNGuhlvbADJVuWby5Wn7Pwn5oehw2KQGtv7kPaq5JpQPbu1C3aCYH"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 849699c78a2a105b-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /klien:
    get:
      description: http://epichome.id/admin/api/v1/mobile/klien/{sales_id}
      summary: Data Klien
      tags:
        - Klien
      operationId: DataKlien
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved1'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - slug: client-adi-3
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:38:14.000000Z'
                    updated_at: '2024-01-19T13:38:14.000000Z'
                    id: 47
                    is_verified: 0
                    kode_otp: '9432'
                  - slug: client-adi-2
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:38:09.000000Z'
                    updated_at: '2024-01-19T13:38:09.000000Z'
                    id: 46
                    is_verified: 0
                    kode_otp: '9493'
                  - slug: client-adi
                    nama_klien: Client Adi
                    sales_id: '8'
                    sales_type: Sales Agent
                    telepone: '+62878855115252'
                    email: adi200@gmail.com
                    catatan: null
                    nama_bank: BCA
                    nomor_rekening: '3221102928'
                    created_at: '2024-01-19T13:14:29.000000Z'
                    updated_at: '2024-01-19T13:14:29.000000Z'
                    id: 45
                    is_verified: 0
                    kode_otp: '7693'
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/klien?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/klien
                per_page: 15
                prev_page_url: null
                to: 3
                total: 3
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:43:10 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=KP5dKl9vV7TAyZexP7%2BaFc2mWo%2FhR5Vv88mSkyd4yhR5zTBT1uvu9FbqTcFwOmQSp8ZA%2FOg%2FlXaUdQlm53RerwknCgFVYjLvZ1P1N%2BiO1MMnJhL9had1SAij%2BeD%2BUYsLk%2F8leOZuMzZoT9Za"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f814e0f500925-LAX
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /proyek_primary:
    get:
      summary: Proyek Primary
      tags:
        - Proyek Primary
      operationId: ProyekPrimary
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved.2'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 89
                    slug: sriamur
                    id_tipe_bangunan: 6
                    status_unit: Jual
                    nama_proyek: Sriamur Jaya Raya Makasar
                    provinsi: SUMATERA UTARA
                    kota: KABUPATEN TAPANULI SELATAN
                    kecamatan: ANGKOLA  BARAT
                    alamat: jl
                    harga_awal: 100000000
                    komisi: '0'
                    id_developer: 8
                    status_listing: null
                    nama_developer: Perumnas
                    nama_tipe_bangunan: Apartemen
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Sriamur-656ff3ef5a08b.webp
                    harga_termahal: 100000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Sriamur-6579271ef2cb8.webp
                    closing_fee: 1000000
                    point: 35
                  - id: 70
                    slug: rusun-bambu
                    id_tipe_bangunan: 8
                    status_unit: Jual
                    nama_proyek: Rusun Bambu
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: TAMBORA
                    alamat: Jl. Raya
                    harga_awal: 200000000
                    komisi: '10'
                    id_developer: 6
                    status_listing: Belum Terdaftar
                    nama_developer: Ciputra Group
                    nama_tipe_bangunan: Rumah Susun
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Rusun Bambu-655331ed76451.webp
                    harga_termahal: 350000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Rusun Bambu-65796755ee36b.webp
                    closing_fee: 2000000
                    point: 50
                  - id: 40
                    slug: proyek-testing-2
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Proyek Testing
                    provinsi: SUMATERA BARAT
                    kota: KABUPATEN SOLOK
                    kecamatan: HILIRAN GUMANTI
                    alamat: Jl. raya
                    harga_awal: 200000000
                    komisi: '5'
                    id_developer: 5
                    status_listing: Belum Terdaftar
                    nama_developer: PT Agung Podomoro Land Tbk
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Proyek Testing-65449e340d24b.webp
                    harga_termahal: 500000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Proyek Testing-657fff8dbaf98.webp
                    closing_fee: 1000000
                    point: 200
                  - id: 15
                    slug: terravia
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Terravia
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Cijantra, Pagedangan, Tangerang Regency, Banten
                    harga_awal: 250000000
                    komisi: '3'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Terravia-651d26329a06d.webp
                    harga_termahal: 550000000
                    url_banner_proyek: []
                    closing_fee: 1000000
                    point: 30
                  - id: 13
                    slug: eminent-terrace
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Eminent Park
                    provinsi: BANTEN
                    kota: KOTA TANGERANG
                    kecamatan: KARANG TENGAH
                    alamat: Jl. Raya Wana Mulya
                    harga_awal: 500000000
                    komisi: '5.5'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Eminent Terrace-651d26ad3117e.webp
                    harga_termahal: 1250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ab99f30.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac132bb.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac40e85.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac71d6a.webp
                    closing_fee: 100000007
                    point: 70
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary
                per_page: 15
                prev_page_url: null
                to: 5
                total: 5
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:44:09 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '57'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2FikcniVRHjo1sn8eA9L144vAtn7liFBzT374vfBq8z%2FyQ3Ku4ye9MQN%2Bbop6J7gkkZ2djZgrCBGk8%2FdDm9Ic7fUwXRQqjB4DRHBlcrJWZsGDb7JjxVZGEMMAFmzxpiVOBW0BvznwrrzHZhSh"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f82bc1c38079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /proyek_primary/detail/89:
    get:
      description: http://epichome.id/admin/api/v1/mobile/proyek_primary/detail/{id}
      summary: Proyek Primary Detail
      tags:
        - Proyek Primary
      operationId: ProyekPrimaryDetail
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetDataFailed'
          examples:
            application/json:
              success: false
              error: Get data failed.
              message: No data exist
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:48:59 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '56'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=y%2FArpbti%2FVwu3qoVars84VsRmvSciRQ9pQ1pggM8a16wQBteJQ7i16MCfPhrhXZdn0pgkCvw%2Fh%2FC4ngUAPC14XSXxriob6u5NG0V5%2Bl505mrvDJgjzwp8Pul6cC0oDr10EPtvV6HSpbqatGL"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f89d4bc85079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /proyek_primary/recommended:
    get:
      summary: Proyek Unggulan
      tags:
        - Proyek Primary
      operationId: ProyekUnggulan
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: developer
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DataRetrieved4'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 89
                    slug: sriamur
                    id_tipe_bangunan: 6
                    status_unit: Jual
                    nama_proyek: Sriamur Jaya Raya Makasar
                    provinsi: SUMATERA UTARA
                    kota: KABUPATEN TAPANULI SELATAN
                    kecamatan: ANGKOLA  BARAT
                    alamat: jl
                    harga_awal: 100000000
                    komisi: '0'
                    id_developer: 8
                    status_listing: null
                    nama_developer: Perumnas
                    nama_tipe_bangunan: Apartemen
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Sriamur-656ff3ef5a08b.webp
                    harga_termahal: 100000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Sriamur-6579271ef2cb8.webp
                    closing_fee: 1000000
                    point: 35
                  - id: 70
                    slug: rusun-bambu
                    id_tipe_bangunan: 8
                    status_unit: Jual
                    nama_proyek: Rusun Bambu
                    provinsi: DKI JAKARTA
                    kota: KOTA JAKARTA BARAT
                    kecamatan: TAMBORA
                    alamat: Jl. Raya
                    harga_awal: 200000000
                    komisi: '10'
                    id_developer: 6
                    status_listing: Belum Terdaftar
                    nama_developer: Ciputra Group
                    nama_tipe_bangunan: Rumah Susun
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Rusun Bambu-655331ed76451.webp
                    harga_termahal: 350000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Rusun Bambu-65796755ee36b.webp
                    closing_fee: 2000000
                    point: 50
                  - id: 40
                    slug: proyek-testing-2
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Proyek Testing
                    provinsi: SUMATERA BARAT
                    kota: KABUPATEN SOLOK
                    kecamatan: HILIRAN GUMANTI
                    alamat: Jl. raya
                    harga_awal: 200000000
                    komisi: '5'
                    id_developer: 5
                    status_listing: Belum Terdaftar
                    nama_developer: PT Agung Podomoro Land Tbk
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Proyek Testing-65449e340d24b.webp
                    harga_termahal: 500000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Proyek Testing-657fff8dbaf98.webp
                    closing_fee: 1000000
                    point: 200
                  - id: 15
                    slug: terravia
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Terravia
                    provinsi: BANTEN
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: SERPONG
                    alamat: Cijantra, Pagedangan, Tangerang Regency, Banten
                    harga_awal: 250000000
                    komisi: '3'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Terravia-651d26329a06d.webp
                    harga_termahal: 550000000
                    url_banner_proyek: []
                    closing_fee: 1000000
                    point: 30
                  - id: 13
                    slug: eminent-terrace
                    id_tipe_bangunan: 4
                    status_unit: Jual
                    nama_proyek: Eminent Park
                    provinsi: BANTEN
                    kota: KOTA TANGERANG
                    kecamatan: KARANG TENGAH
                    alamat: Jl. Raya Wana Mulya
                    harga_awal: 500000000
                    komisi: '5.5'
                    id_developer: 1
                    status_listing: Belum Terdaftar
                    nama_developer: Eminent Development
                    nama_tipe_bangunan: Cluster
                    url_thumbnail_image: https://stellarhome.totalit.co.id/media/proyek_primary/thumbnail_image/Eminent Terrace-651d26ad3117e.webp
                    harga_termahal: 1250000000
                    url_banner_proyek:
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ab99f30.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac132bb.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac40e85.webp
                      - https://stellarhome.totalit.co.id/media/proyek_primary/banner_proyek/Eminent Terrace-651d26ac71d6a.webp
                    closing_fee: 100000007
                    point: 70
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/proyek_primary/recommended
                per_page: 15
                prev_page_url: null
                to: 5
                total: 5
          headers:
            Date:
              type: string
              default: Mon, 22 Jan 2024 03:39:04 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=lRt27j0Fo50iwwmndldVASapdQvxz7QMfuTJOLDZrKZFLqp0odXbzEDKek%2BbOmiuWAbN8NofG1%2FXoIN%2B71zSxTaV191ClORvWBwUqkKRD7vK%2FNtEbDhjMwp%2FZxf%2Bo%2B7cTqOgsSOFWYgLa4di"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 8494c47728e0097e-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Undefinedvariable%3Akantor_agent_id1'
          examples:
            application/json:
              message: 'Undefined variable: kantor_agent_id'
              exception: ErrorException
              file: /home/stellarhome/public_html/Modules/Api/Http/Controllers/Mobile/ProyekPrimaryController.php
              line: 311
              trace:
                - file: /home/stellarhome/public_html/Modules/Api/Http/Controllers/Mobile/ProyekPrimaryController.php
                  line: 311
                  function: handleError
                  class: Illuminate\Foundation\Bootstrap\HandleExceptions
                  type: '->'
                - function: Modules\Api\Http\Controllers\Mobile\{closure}
                  class: Modules\Api\Http\Controllers\Mobile\ProyekPrimaryController
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Collections/Collection.php
                  line: 695
                  function: array_map
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Collection.php
                  line: 350
                  function: map
                  class: Illuminate\Support\Collection
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Collections/Collection.php
                  line: 1479
                  function: map
                  class: Illuminate\Database\Eloquent\Collection
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Support/Traits/ForwardsCalls.php
                  line: 23
                  function: transform
                  class: Illuminate\Support\Collection
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pagination/AbstractPaginator.php
                  line: 770
                  function: forwardCallTo
                  class: Illuminate\Pagination\AbstractPaginator
                  type: '->'
                - file: /home/stellarhome/public_html/Modules/Api/Http/Controllers/Mobile/ProyekPrimaryController.php
                  line: 343
                  function: __call
                  class: Illuminate\Pagination\AbstractPaginator
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                  line: 54
                  function: recommended
                  class: Modules\Api\Http\Controllers\Mobile\ProyekPrimaryController
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                  line: 45
                  function: callAction
                  class: Illuminate\Routing\Controller
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                  line: 262
                  function: dispatch
                  class: Illuminate\Routing\ControllerDispatcher
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                  line: 205
                  function: runController
                  class: Illuminate\Routing\Route
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                  line: 721
                  function: run
                  class: Illuminate\Routing\Route
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 128
                  function: Illuminate\Routing\{closure}
                  class: Illuminate\Routing\Router
                  type: '->'
                - file: /home/stellarhome/public_html/Modules/Core/Http/Middleware/ExpectsJsonMiddleware.php
                  line: 22
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Modules\Core\Http\Middleware\ExpectsJsonMiddleware
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                  line: 50
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Routing\Middleware\SubstituteBindings
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                  line: 127
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                  line: 103
                  function: handleRequest
                  class: Illuminate\Routing\Middleware\ThrottleRequests
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                  line: 55
                  function: handleRequestUsingNamedLimiter
                  class: Illuminate\Routing\Middleware\ThrottleRequests
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Routing\Middleware\ThrottleRequests
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
                  line: 44
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Auth\Middleware\Authenticate
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 103
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                  line: 723
                  function: then
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                  line: 698
                  function: runRouteWithinStack
                  class: Illuminate\Routing\Router
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                  line: 662
                  function: runRoute
                  class: Illuminate\Routing\Router
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                  line: 651
                  function: dispatchToRoute
                  class: Illuminate\Routing\Router
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                  line: 167
                  function: dispatch
                  class: Illuminate\Routing\Router
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 128
                  function: Illuminate\Foundation\Http\{closure}
                  class: Illuminate\Foundation\Http\Kernel
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/spatie/laravel-http-logger/src/Middlewares/HttpLogger.php
                  line: 28
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Spatie\HttpLogger\Middlewares\HttpLogger
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                  line: 21
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                  line: 31
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                  line: 21
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                  line: 40
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\TrimStrings
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                  line: 27
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                  line: 86
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/fruitcake/laravel-cors/src/HandleCors.php
                  line: 52
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Fruitcake\Cors\HandleCors
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/fideloper/proxy/src/TrustProxies.php
                  line: 57
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 167
                  function: handle
                  class: Fideloper\Proxy\TrustProxies
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                  line: 103
                  function: Illuminate\Pipeline\{closure}
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                  line: 142
                  function: then
                  class: Illuminate\Pipeline\Pipeline
                  type: '->'
                - file: /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                  line: 111
                  function: sendRequestThroughRouter
                  class: Illuminate\Foundation\Http\Kernel
                  type: '->'
                - file: /home/stellarhome/public_html/index.php
                  line: 52
                  function: handle
                  class: Illuminate\Foundation\Http\Kernel
                  type: '->'
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:50:04 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=TpMfcVO44TMcKkd%2FrUuUSslRfIlp4G0fndwOwxhY0JkFbZ4oyD1HtZJm9PUoryBDGbPygNbGopoYoWaazAHHgi4leY41Gn2gVT0%2Besq1JMCnKJb7txj9x0lv%2BME6gyb4llHiNV8eW4OA36rr"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f8b60ce23079a-HKG
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit:
    get:
      summary: Secondary Unit
      tags:
        - Secondary Unit
      operationId: SecondaryUnit
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: search
          in: query
          required: true
          type: string
          description: ''
        - name: provinsi
          in: query
          required: true
          type: string
          description: ''
        - name: kota
          in: query
          required: true
          type: string
          description: ''
        - name: kecamatan
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_tidur
          in: query
          required: true
          type: string
          description: ''
        - name: kamar_mandi
          in: query
          required: true
          type: string
          description: ''
        - name: tipe_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_bangunan
          in: query
          required: true
          type: string
          description: ''
        - name: status_unit
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termurah
          in: query
          required: true
          type: string
          description: ''
        - name: harga_termahal
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved5'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                current_page: 1
                data:
                  - id: 81
                    slug: rukan-ciwidey-bandung
                    harga_unit: 0
                    harga_sewa_per_bulan: 20000000
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '0'
                    komisi_sewa: '5'
                    status_unit: Sewa
                    nama_unit: Rukan Ciwidey Bandung
                    alamat: Jl Raya
                    kota: KABUPATEN BANDUNG
                    kecamatan: CIWIDEY
                    sertifikat:
                      - SHM - Hak Milik
                      - HGB - Hak Guna Bangunan
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                    nama_penjual: Japu
                    nama_pemilik: Japu
                    provinsi: JAWA BARAT
                    status_bangunan: Seken
                    nama_tipe_bangunan: Rukan
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Rukan Ciwidey Bandung-658b9741e7e26.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/rukan-ciwidey-bandung-658b9741d2539.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 20
                    luas_bangunan: 30
                  - id: 73
                    slug: town-house-ciputat
                    harga_unit: 0
                    harga_sewa_per_bulan: 2000000
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '0'
                    komisi_sewa: '5'
                    status_unit: Sewa
                    nama_unit: Town House Ciputat
                    alamat: jl ci
                    kota: KOTA TANGERANG SELATAN
                    kecamatan: CIPUTAT
                    sertifikat:
                      - SHM - Hak Milik
                      - HGB - Hak Guna Bangunan
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                    nama_penjual: Puja Alfina
                    nama_pemilik: Sugiana
                    provinsi: BANTEN
                    status_bangunan: Seken
                    nama_tipe_bangunan: Town House
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Town House Ciputat-657177e7972a2.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/town-house-ciputat-657179592e943.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 60
                    luas_bangunan: 40
                  - id: 68
                    slug: cluster-aceh-seken
                    harga_unit: 200000000
                    harga_sewa_per_bulan: 0
                    harga_sewa_per_tahun: 0
                    jumlah_kamar_tidur: 2
                    jumlah_kamar_mandi: 1
                    komisi: '2'
                    komisi_sewa: '0'
                    status_unit: Jual
                    nama_unit: Cluster Aceh Seken
                    alamat: jl
                    kota: KABUPATEN SIMEULUE
                    kecamatan: TEUPAH TENGAH
                    sertifikat:
                      - SHM - Hak Milik
                      - SHM-SRS - Hak Milik Satuan Rumah Susun
                      - HGB - Hak Guna Bangunan
                      - Girik - Tanah Adat
                      - AJB - Akta Jual Beli
                      - PPJB - Perjanjian Jual Beli
                    nama_penjual: Pujalf
                    nama_pemilik: Donny Setiawan
                    provinsi: ACEH
                    status_bangunan: Seken
                    nama_tipe_bangunan: Cluster
                    url_gallery_unit:
                      - https://stellarhome.totalit.co.id/media/secondary_unit/gallery_unit/Cluster Aceh Seken-656ff0954da07.webp
                    url_thumbnail_unit: https://stellarhome.totalit.co.id/media/secondary_unit/thumbnail_unit/cluster-aceh-seken-656ff0953566a.webp
                    status_listing: Belum Terdaftar
                    luas_tanah: 25
                    luas_bangunan: 20
                first_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                from: 1
                last_page: 1
                last_page_url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                links:
                  - url: null
                    label: '&laquo; Previous'
                    active: false
                  - url: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit?page=1
                    label: '1'
                    active: true
                  - url: null
                    label: Next &raquo;
                    active: false
                next_page_url: null
                path: https://stellarhome.totalit.co.id/api/v1/mobile/secondary_unit
                per_page: 15
                prev_page_url: null
                to: 3
                total: 3
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:52:37 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=0oNJFrJEnHZDM%2BVHibniDE8BuHP4vfijuM2m3pzMyS9QG2NI%2FUfyHOEHdapnsAXkrNvJ8nYbJJeOsrv%2BZXO0NKzdzWGNE0ZOn%2Bi5l6UlCNOP7JFLy0GCWIQ%2FOFLSdN98sYFZ4snNqeZEclT8"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f8f23eb1c079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit/detail/81:
    get:
      description: http://epichome.id/admin/api/v1/mobile/secondary_unit/detail/{id}
      summary: Secondary Unit Detail
      tags:
        - Secondary Unit
      operationId: SecondaryUnitDetail
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Nodataexist'
          examples:
            application/json:
              success: false
              error: Get data failed.
              message: No data exist
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:53:39 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=HcfmOiwpRLY%2FEPEqhwJ0p%2FhG%2Bmbrs6nveHFpY7RkcnftLy%2BQb5J78jv5RGXPcxfNLX3gBCgvnAaNwRZW6EvlGLVzBsm5Vrvsf3XNXx7CbpnFwT7fUJQMZNhEKg3ByWaJqYEQ6HLWH2GT6%2Bl7"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f90ab38c8079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit/edit/87:
    get:
      summary: Edit Secondary Unit
      tags:
        - Secondary Unit
      operationId: EditSecondaryUnit
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Nodataexist'
          examples:
            application/json:
              success: false
              error: Get data failed.
              message: No data exist
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:54:26 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=5Unj6DUYRvoDja1tV%2Br25h77l1BgzPXv8Qlk0LdnaI8m2pIQJYUYywCWSDe7fv%2Fa6wbUZdpajy3BbvqHaWl7qmPRjlKSZ9azvcRzf1Ka3HRSCydgECfXKbs2QgNuYozL5uuUXYkM1b4rpUBq"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f91d27f7b079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit/tambah:
    post:
      summary: Tambah Secondary Unit
      tags:
        - Secondary Unit
      operationId: TambahSecondaryUnit
      deprecated: false
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_tipe_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in tipe_bangunan
        - name: id_status_unit
          in: formData
          required: true
          type: array
          items:
            type: integer
            format: int32
          description: required|multiple|exist in status_unit
        - name: status_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in status_bangunan
        - name: nama_unit
          in: formData
          required: true
          type: string
          description: required
        - name: alamat
          in: formData
          required: true
          type: string
          description: required
        - name: provinsi
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kota
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kecamatan
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: luas_tanah
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: luas_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: kondisi_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in kondisi_bangunan
        - name: arah_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in arah_bangunan
        - name: lebar_jalan_depan
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: sertifikat
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in sertifikat
        - name: atas_nama
          in: formData
          required: true
          type: string
          description: required
        - name: jumlah_kamar_tidur
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_kamar_mandi
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_lantai
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_garasi_mobil
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: listrik
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: line_telepon
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: air
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in tipe_air
        - name: furniture_termasuk
          in: formData
          required: true
          type: string
          description: nullable|exist in furniture
        - name: deskripsi_unit
          in: formData
          required: true
          type: string
          description: nullable
        - name: harga_unit
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: harga_sewa_per_bulan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: harga_sewa_per_tahun
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: jenis_pembayaran
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in jenis_pembayaran
        - name: nama_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: nama_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: alamat_lengkap_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_npwp_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: bersedia_dipasang
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in bersedia_dipasang
        - name: start_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: end_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: open_house
          in: formData
          required: true
          type: string
          description: nullable|exist in open_house
        - name: gallery_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple data
        - name: thumbnail_unit
          in: formData
          required: true
          type: file
          format: file
          description: nullable|image
        - name: longitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: latitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: komisi
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: komisi_sewa
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes|numeric
        - name: publish
          in: formData
          required: true
          type: integer
          format: int32
          description: required|in:0,1
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Secondaryunitberhasildisimpan.'
          examples:
            application/json:
              success: true
              error: null
              message: Secondary unit berhasil disimpan.
              data:
                id_tipe_bangunan: '6'
                status_bangunan: Baru
                nama_unit: Apartemen Brawijoyo
                alamat: Malang, Jawa Tengah
                provinsi: ACEH
                kota: KABUPATEN SIMEULUE
                kecamatan: TEUPAH SELATAN
                kondisi_bangunan: Standard
                arah_bangunan: Timur
                lebar_jalan_depan: '100'
                sertifikat:
                  - SHM - Hak Milik
                  - HGB - Hak Guna Bangunan
                atas_nama: Brando
                jumlah_kamar_tidur: '2'
                jumlah_kamar_mandi: '1'
                jumlah_lantai: '2'
                jumlah_garasi_mobil: '1'
                listrik: '1000'
                line_telepon: '2'
                air:
                  - PAM
                furniture_termasuk: Furnished
                deskripsi_unit: Apartemen Brawijaya 2 Kamar Tidur
                harga_unit: '350000000'
                harga_sewa_per_bulan: '1500000'
                harga_sewa_per_tahun: '16000000'
                jenis_pembayaran:
                  - Installment
                  - Hardcash
                nama_penjual: Brando
                no_telepon_penjual: '+628987852852'
                nama_pemilik: Brando
                no_telepon_pemilik: '+628987852852'
                alamat_lengkap_pemilik: Jl. Sukahati No.106, Malang, Jawa tengah
                no_npwp_pemilik: null
                bersedia_dipasang:
                  - Tidak
                start_date_iklan: null
                end_date_iklan: null
                open_house: null
                longitude: null
                latitude: null
                komisi: '5'
                komisi_sewa: '3'
                publish: '1'
                id_sales: 8
                id_kantor_agent: 1
                nomor_handphone_sales: '+621234567890'
                approved_status: Pending
                is_available: 1
                status_unit: Jual/Sewa
                thumbnail_unit: apartemen-brawijoyo-65aa7f6c68f49.webp
                slug: apartemen-brawijoyo
                updated_at: '2024-01-19T13:55:57.000000Z'
                created_at: '2024-01-19T13:55:56.000000Z'
                id: 82
                gallery_unit: []
                luas_tanah: null
                luas_bangunan: null
                proyek_primary: null
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 13:55:57 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=zNw0jJP54roe2MCmBNSfs1qKkarxPDuAJ6CjgLgv7tScIDvNXuiMIE1XJxMZSXQqT9uC8tSnyx%2FJshq5jSOgBfqAHYr1i3EKI28OkZhkSKaqoOn%2Fez19YsIU%2BOwHF0Tf%2FJ7NI2%2BLWeM0hRLq"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847f93fa7fbc079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit/update/87:
    post:
      summary: Update Secondary Unit
      tags:
        - Secondary Unit
      operationId: UpdateSecondaryUnit
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: id_tipe_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|exist in tipe_bangunan
        - name: id_status_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in status_unit
        - name: status_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in status_bangunan
        - name: nama_unit
          in: formData
          required: true
          type: string
          description: required
        - name: alamat
          in: formData
          required: true
          type: string
          description: required
        - name: provinsi
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kota
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: kecamatan
          in: formData
          required: true
          type: string
          description: nullable|exist in provinsi
        - name: luas_tanah
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: luas_bangunan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: kondisi_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in kondisi_bangunan
        - name: arah_bangunan
          in: formData
          required: true
          type: string
          description: required|exist in arah_bangunan
        - name: lebar_jalan_depan
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: sertifikat
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in sertifikat
        - name: atas_nama
          in: formData
          required: true
          type: string
          description: required
        - name: jumlah_kamar_tidur
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_kamar_mandi
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_lantai
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: jumlah_garasi_mobil
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: listrik
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: line_telepon
          in: formData
          required: true
          type: integer
          format: int32
          description: nullable
        - name: air
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in tipe_air
        - name: furniture_termasuk
          in: formData
          required: true
          type: string
          description: nullable|exist in furniture
        - name: deskripsi_unit
          in: formData
          required: true
          type: string
          description: nullable
        - name: harga_unit
          in: formData
          required: true
          type: integer
          format: int32
          description: required
        - name: harga_sewa_per_bulan
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: harga_sewa_per_tahun
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes
        - name: jenis_pembayaran
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple|exist in jenis_pembayaran
        - name: nama_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_penjual
          in: formData
          required: true
          type: string
          description: required
        - name: nama_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_telepon_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: alamat_lengkap_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: no_npwp_pemilik
          in: formData
          required: true
          type: string
          description: required
        - name: bersedia_dipasang
          in: formData
          required: true
          type: array
          items:
            type: string
          description: required|multiple|exist in bersedia_dipasang
        - name: start_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: end_date_iklan
          in: formData
          required: true
          type: string
          description: nullable
        - name: open_house
          in: formData
          required: true
          type: string
          description: nullable|exist in open_house
        - name: gallery_unit
          in: formData
          required: true
          type: array
          items:
            type: string
          description: nullable|multiple data
        - name: longitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: latitude
          in: formData
          required: true
          type: string
          description: nullable
        - name: komisi
          in: formData
          required: true
          type: integer
          format: int32
          description: required|numeric
        - name: komisi_sewa
          in: formData
          required: true
          type: integer
          format: int32
          description: required|sometimes|numeric
        - name: publish
          in: formData
          required: true
          type: integer
          format: int32
          description: required|in:0,1
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Noqueryresultsformodel'
          examples:
            application/json:
              success: false
              error: No query results for model [Modules\MasterData\Entities\Unit] 6 on file /home/stellarhome/public_html/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php on line number 444
              message: Terdapat kesalahan saat menyimpan data, silahkan dicoba kembali beberapa saat lagi.
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 14:28:33 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            Vary:
              type: string
              default: Authorization
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=%2FtAXRhdZZ24abAXZa443UHWY3ZPI4L%2F6HwCvcawTwH49BvlVUTaDPCZ4re6Dmo1BiMXkf9sVgaqBFjTrQCFnGa9NJHorKVHS3NYHpTRGvlQdinzlLtz1ok5Y33Q50b3JQmcZlHlhaYEpZz46"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 847fc3cb5acc079a-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
      security: []
  /secondary_unit/helper:
    get:
      summary: Secondary Unit Helper
      tags:
        - Secondary Unit
      operationId: SecondaryUnitHelper
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Dataretrieved.8'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                tipe_bangunan:
                  - value: 1
                    text: Town House
                  - value: 2
                    text: Ruko
                  - value: 3
                    text: Rukan
                  - value: 4
                    text: Cluster
                  - value: 5
                    text: Rumah
                  - value: 6
                    text: Apartemen
                  - value: 7
                    text: Kondotel
                  - value: 8
                    text: Rumah Susun
                  - value: 9
                    text: Indekos
                  - value: 15
                    text: Tanah
                jenis_pembayaran:
                  - Installment
                  - KPR/KPA
                  - Hardcash
                status_unit:
                  - value: 1
                    text: Jual
                  - value: 2
                    text: Sewa
                bersedia_dipasang:
                  - Spanduk
                  - Iklan
                  - Papan Tanda
                  - Lainnya
                  - Tidak
                sertifikat:
                  - SHM - Hak Milik
                  - HGB - Hak Guna Bangunan
                  - SHM-SRS - Hak Milik Satuan Rumah Susun
                  - Girik - Tanah Adat
                  - AJB - Akta Jual Beli
                  - PPJB - Perjanjian Jual Beli
                open_house:
                  - Ya
                  - Tidak
                kondisi_bangunan:
                  - Standard
                  - Renovasi
                tipe_air:
                  - Air Tanah
                  - PAM
                furniture:
                  - Furnished
                  - Semi-Furnished
                  - Unfurnished
                status_bangunan:
                  - Baru
                  - Seken
                arah_bangunan:
                  - Utara
                  - Selatan
                  - Barat
                  - Timur
                  - Timur Laut
                  - Tenggara
                  - Barat Daya
                  - Barat Laut
                  - Tidak Diketahui
          headers:
            Date:
              type: string
              default: Fri, 19 Jan 2024 14:30:22 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
[...]
